/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/oswald-v35-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v35-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/oswald-v35-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v35-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    min-width: 900px;
}

.container {
    margin: 0 auto;
    width: 1366px;

}

.header {
    position: relative;
    width: 1366px;
    background-image: url("../img/sparkle-video.png");
    height: 722px;
    background-color: white;

}

.header_content {
    height: 92px;
    background-color: white;
}

.header_logo {
    float: left;
    margin-left: 63px;
}

.nav {
    /*margin-left: 305px;*/
    background-color: white;
    /*margin: 51px 0 0 35px;*/
    padding-top: 51px;
    float: left;
}

.nav .navItem {
    display: inline;
    margin: 51px 0 0 35px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #060606;
}

.nav .navItem a {
    text-decoration: none;
    color: #060606;
}

.select_language {
    float: left;
    margin: 51px 32px 12px 51px;
    border: none;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

}

.select_language a {
    text-decoration: none;
}

.vector {
    position: absolute;
    width: 86px;
    height: 83px;
    /*left: -0.07%;*/
    /*right: 0%;*/
    /*top: 2.33%;*/
    /*bottom: 96.71%;*/
    margin: 270px 620px 340px 620px;
    background-color: white;
    border-radius: 100%;
}

.descr {
    margin: 150px 353px 150px 359px;
    width: 654px;
    height: 114px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.foto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: 355px;

}

.foto .foto_item .foto_item_desc {
    width: 100%;
    height: 355px;
}

.foto img {
    width: 100%;
}

.foto_item3 img {
    height: 177px;
}

.offer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.offer_text {
    width: 394px;
    height: 29px;
    margin: 0 auto;
    margin-top: 165px;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}


.offer_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    text-align: center;
}

.offer_btn_item {
    display: block;
    margin: 0 auto;
    padding-top: 17px;
    width: 233px;
    height: 50px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background-color: #ffa800;
    border-radius: 100px;

}

.contact_text {
    width: 819px;
    height: 48px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #2F4858;
}

.form {
    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;

}

.form input {
    width: 296px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
}


.form_item {
    display: block;
    margin: 0 auto;

}

.form .form_item_name {
    width: 296px;
    height: 43px;
    margin: 55px 20px 15px 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
}

.form .form_item_mail {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;

}

.form .form_item_phone {
    width: 612px;
    height: 43px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
}

.form .form_item_text {
    margin-top: 15px;
    width: 612px;
    height: 232px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    resize: none;
    border: none;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
}

.contact p {
    margin: 15px 0 0 377px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.checkbox {
    margin: 28px 0 0 380px;
    width: 16px;
    height: 16px;
    background: #E7E7E7;
    border-radius: 3px;
    float: left;
}

.data_saving_descr {
    padding: 8px 0 0 25px;
    width: 572px;
    height: 39px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2F4858;
}

.btn {
    text-align: center;
}

.btn_send {
    appearance: none;
    margin-top: 50px;
    width: 182px;
    height: 62px;
    background-color: #ffa800;
    color: white;
    border-radius: 100px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    border: none;
}

.support {
    width: 100%;
    height: 533px;
    margin-top: 150px;
    background: #FFCB66;
    padding-top: 100px;
}

.support .support_descr {
    width: 394px;
    height: 29px;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2F4858;
    margin: 0 auto;
}

.support_logos {
    margin-top: 108px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}


/*  FOOTER  */


footer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #2F4858;
    padding-bottom: 20px;
}


.footer_logo {
    width: 182px;
    height: 182px;

}

.footer_logo img {
    margin: 40px 0 0 62px;

}

footer .footer_logo_descr {
    margin: 92px 0 13px 15px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

footer .footer_list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

footer .footer_list a {
    text-decoration: none;
    color: white;
}

footer .footer_list p {
    margin-top: 21px;
}

footer .footer_bank_rekv {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

footer .footer_bank_rekv p {
    margin-top: 22px;
}

footer .rekv1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 22px;

}

footer .rekv2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 22px;
}

footer .rekv3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;

}

footer .rekv4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
}

footer .footer_contact {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
}

footer .footer_contact:nth-child(2) {
    font-size: 18px;
}

footer .footer_contact p {
    margin-top: 12px;
    margin-right: 62px;
}

.sosial {
    margin: 52px 62px 51px 0;

}

.sosial img {
    width: 36px;
    height: 36px;
    margin-right: 29px;
    /*background-color: white;*/
}

.privat {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 20px;

}


/*   MEDIA   */


@media (max-width: 1160px) {

    .container {
        width: 100%;
        margin: 0;
    }

    .nav {
        display: none;
    }

    .header {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .vector {
        visibility: hidden;
    }

    .descr {
        margin: 50px;

        width: 100%;
        text-align: center;
    }

    .foto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;

    }

    .offer {
        padding-top: 300px;
    }

    .footer_list {
        visibility: hidden;
    }


}













